<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <services>
      <service name="Rango.ChatService">
        <endpoint address="" binding="webHttpBinding" contract="Rango.IChatService" behaviorConfiguration="JsonBehavior" />
      </service>
      <service name="Rango.ShadowWalker">
        <endpoint address="" binding="webHttpBinding" contract="Rango.IShadowWalker" behaviorConfiguration="JsonBehavior" />
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <add name="jsonWebHttp" type="Rango.ErrorHandling.JsonWebHttpBehaviorElement, Rango, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <webHttp />
          <jsonWebHttp />
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>
